<div class="center">
    <div class="gap"></div>
    <h1>I am the about page</h1>

    <p>Feel free to make some broken cards :Þ</p>
</div>

https://www.pngitem.com/pimgs/m/109-1097968_kawaii-potatokawaii-potato-cute-cute-potato-transparent-background.png