<div class="latest_cards">
    <div class="gap"></div>
    <h1>Card Library</h1>
    <div class="gap"></div>
    <div class="latest_cards_grid">
        <% cards.each do |card| %>

        <h3>
            <a href="cards/<%= card["id"] %>">
            <%= card["title"] %></a>
            <img src="<%= card["image_url"] %>" alt="">
                         
        </h3>

           <%end%>
    </div>
</div>