<div class="gap"></div>
<%# We are creating a session %>

<div class="center">
<h1>Sign Up</h1>
<form action="/sign_up" method ="post">
    <label for="">Email:</label>
    <input type="email" name="email">
    <label for="">Password:</label>
    <input type="password" name= "password_digest">

    <button>Login</button>
</form>
<div class="gap"></div>
Already a member?
<a href="/login">Log in!</a> 
</div>