<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="headerwrap">
  <header><a href="/">Card Maker</a></header>
  <nav>
  <a href="/">Home</a>
  <a href="/create_new_card">Create Card</a>
  <a href="/about">About Us</a>
  <a href="/donations">Donations</a>
  </nav>
  </div>
  <%= yield %>

</body>
</html>
