<div class="gap"></div>
<%# We are creating a session %>
<div class="center">
<h1>Log In</h1>
<form action="/session" method ="post">
    <label for="">Email:</label>
    <input type="email" name="email">
    <label for="">Password:</label>
    <input type="password" name= "password">

    <button>Login</button>
</form>

Not a member?
<a href="/sign_up">Sign Up</a> 
</div>