
POTATO POTATO
<div class="card_wrap">

    <div class="card_image"><img src="https://www.pikpng.com/pngl/b/300-3009374_kawaii-potato-transparent-kawaii-potato-png-clipart.png" alt=""></div>
    <div class="template"><img src="https://www.seekpng.com/png/full/376-3769719_new-card-border-hearthstone-card-template.png" alt=""></div>
    <div class="card_description"><h2>I am a potato with too much text</h2></div>
    <div class="card_name"><h1>Potato-sama</h1></div>
    <div class="card_cost"><h4>9</h4></div>
    <div class="card_attack"><h4>2</h4></div>
    <div class="card_health"><h4>8</h4></div>

    <div></div>
</div>

</div>

