* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

form { display: inline; }


body {
    background-image: url(https://hearthstoneapi.com/images/body-content-bg.jpg);
    background-position: center;
    font-family: 'Asul', sans-serif;;
}

.headerwrap {
    text-align: center;
    background-color: solid gray;
}

.headerwrap a{
    text-align: center;
}

.headerwrap header {
    text-align: center
}

header {
    font-size: 50px;
    color: rgb(199, 133, 74);
    text-shadow: -1px -1px 0 rgb(101, 47, 0), 1px -1px 0 rgb(110, 51, 5), -1px 1px 0 rgb(93, 32, 6), 1px 1px 0 rgb(91, 38, 6);

}

header a{
    text-decoration: none;
    text-decoration-style: none;
    color: inherit;
    font-weight: 700;
}

.headerlogo {
    width: 300px;
}

a {
    padding: 10px;
    margin: 0 auto;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.create_banner {
    border: 5px solid sandybrown;
}

.center_banner {
        display: block;
        margin: 0 auto;
        width: 50%;
}



.latest_cards {
    text-align: center;
}

.latest_cards_grid {
    display: grid;
    position: relative;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    margin: 0 auto;
    width: 50%;

}

.latest_cards_grid img {
    display: block;
    width: 200px;
}

.line {
    height: 1px;
    width: 400px;
    background-color: grey
}

.gap {
    padding: 10px;

}

.line {
    height: 2px;
    width: 150px;
    margin: 0 auto;
    background-color: rgba(159, 87, 29, 0.2);
}

/* THIS IS FOR THE TEMPLATE */

h6 {
    font-weight: 800;
    font-family: 'Asul', sans-serif;
    font-size:  60px; 
    color: white;
    position: absolute;
}

.floating_template {
    position: relative;
    z-index: 2;
}
.card_image {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 240px;
    right: 460px;
    z-index: 1;
}

.card_name {
    position: absolute;
    bottom: 400px;
    font-size: 30px;
    font-weight: 600;
    right: 900px;
    top: 680px;
    z-index: 2;
    max-width: 250px;
    margin: 0 auto;
    height: 400px;
    max-height: 40px;
    width: 1500px;
    max-width: 220px;    
}

.card_description {
    position: absolute;
    font-size: 20px;
    right: 890px;
    top: 770px;
    z-index: 2;
    margin: 0 auto;
    height: 400px;
    max-height: 100px;
    width: 400px;
    max-width: 240px;
}

.card_cost {
    position: absolute;
    right: 1175px;
    top: 290px;
    max-width: 250px;
    z-index: 2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card_attack {
    position: absolute;
    right: 1172px;
    top: 725px;
    max-width: 250px;
    z-index: 2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card_health {
    position: absolute;
    right: 885px;
    top: 725px;
    max-width: 250px;
    z-index: 2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}