* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}



body {
    background-image: url(https://hearthstoneapi.com/images/body-content-bg.jpg);
    background-position: center;
    font-family: 'Asul', sans-serif;;
}

.headerwrap {
    text-align: center;
    background-color: solid gray;
}

.headerwrap a{
    text-align: center;
}

.headerwrap header {
    text-align: center
}

header {
    font-size: 50px;
    color: rgb(199, 133, 74);

}

header a{
    text-decoration: none;
    text-decoration-style: none;
    color: inherit;
    font-weight: 700;
}

.headerlogo {
    width: 300px;
}

a {
    padding: 10px;
    margin: 0 auto;
}

.create_card_placeholder {
    width: 800px;
    height: 400px;
    background-color: sienna;
    margin: 0 auto;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.latest_cards {
    text-align: center;
}

.latest_cards_grid {
    display: grid;
    position: relative;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    margin: 0 auto;
    width: 50%;

}

.latest_cards_grid img {
    display: block;
    width: 200px;
}

.line {
    height: 1px;
    width: 400px;
    background-color: grey
}

.gap {
    padding: 10px;
}

/* THIS IS FOR THE TEMPLATE */


h4 {
    font-weight: 900px;
    font-size: 70px;
}

.card_wrap {
    z-index: 1;
    width: 390px;
    height: 543px;
}

.template {
    position: relative;
    z-index: 9;
    bottom: 300px;
}
.card_image {
    z-index: 8;
    position: relative;

}

.card_image img {
    display: block;
    position: relative;
    width: 200px;
    margin-left: 100px;
    
}

.card_description {
    position: relative;
    z-index: 10;
    bottom: 500px;
    text-align: center;
}

.card_name {
    position: relative;
    z-index: 11;
    bottom: 650px;
    text-align: center;
}

.card_cost {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: relative;
    z-index: 12;
    bottom: 1031px;
    left: 44px;
}

.card_attack {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: relative;
    z-index: 12;
    bottom: 773px;
    left: 44px;
}

.card_health {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: relative;
    z-index: 12;
    bottom: 945px;
    left: 329px;
}
